@import
	url(http://fonts.googleapis.com/css?family=BenchNine:400,300,700);

html,body {
	font-family: 'BenchNine', sans-serif;
	text-align: center;
	height: 100%;
}

.ui-overlay-b,.ui-page-theme-b,.ui-page-theme-b .ui-panel-wrapper {
	background: none repeat scroll 0 0 #111111 !important;
	background-image: linear-gradient(to bottom, #333333, #111111)
		!important;
}

html header {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 100;
}

.header {
	height: 30pt;
	margin: 0;
	padding: 0;
}

.header p {
	margin: 0;
	padding: 0;
	font-size: 24pt;
	font-weight: 700;
}

.header #title {
	float: left;
	margin-left: 20px;
}

.sidebar {
	float: left;
	width: 32%;
	margin-right: 10px;
}

.sidebar p {
	padding: 0;
	margin: 0;
	padding-left: 5px;
}

#rating {
	position: relative;
}

#rating div {
	position: absolute;
	top: 16pt;
}

.descmovie {
	margin-left: 31%;
	margin-bottom: 2%;
	padding: 0 15px;
	text-align: left;
}

.movie-text {
	padding-top: 10px;
	text-align: left;
}

.content {
	float: left;
	position: relative;
	width: 75%;
	height: 800px;
}

.content img {
	width: 100%;
}

.infobar {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background: black;
	opacity: 0.5;
	margin: 0;
	padding: 0;
}

#ib_info {
	
}

#ib_info p {
	margin: 4px 0 0 0;
}

#ib_info #notv {
	
}

#ib_info #date {
	text-transform: uppercase;
}

.showbar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 140px;
	width: 100%;
	background: black;
	opacity: 0.8;
	margin: 0;
	padding: 0;
	color: #fff;
}

#sb_info {
	color: #fff;
	position: relative;
	font-size: 18pt;
	margin: 0;
	padding: 0;
}

#sb_info p {
	position: absolute;
	margin: 10px 0 0 0;
}

#sb_info #stitle {
	font-size: 28pt;
	left: 10%;
	text-align: center;
}

#sb_info #sgenre {
	left: 10%;
	top: 60px;
}

#sb_info #sepno {
	left: 10%;
	top: 90px
}

.footer {
	clear: both;
	position: relative;
	font-size: 12px;
	float: right;
}

#leftsystem {
	float: left;
	width: 35%;
	margin-top: 32px;
}

#rightsystem {
	float: right;
	width: 64%;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	color: #FFFFFF !important;
	text-shadow: 2px 3px 1px #000000;
}

.selected {
	border-left: 0 solid #333333;
	border-right: 0 solid #000000;
	box-shadow: 0 0 12px #22ADDD !important;
}

.ui-btn-active {
	background-color: #4F748B !important;
	border-color: #677E96 !important;
}

li,.ui-box-heighlight {
	cursor: pointer;
	box-shadow: -7px 5px 11px #000000;
	padding: 10px 0;
	text-shadow: 1px 1px 1px #000000;
	display: block;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
	line-height: 40px;
}

li.config_item {
	display: inline-block;
	font-weight: bold;
}

span.actions-config {
	float: right;
}

.listconfig {
	font-family: monospace !important;
	font-size: 16px;
	font-weight: bold;
}

.ui-icon-custom-settings:after {
	background-image: url("../img/cogs_icon&16.png");
}

.ui-icon-custom-movies:after {
	background-image: url("../img/movie_icon&16.png");
}

.ui-icon-custom-livetv:after {
	background-image: url("../img/preso_icon&16.png");
}

.ui-icon-custom-tvshows:after {
	background-image: url("../img/monitor_icon&16.png");
}

.ui-popup {
	padding: 15px;
}

.movie-pic {
	border-radius: 5px;
	box-shadow: 0 1px 2px #000000;
	height: auto;
	width: 110px;
}

.ui-loader {
	background-color: white;
}

textarea:focus:invalid,input:focus:invalid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 12px #ff0000 !important;
	-webkit-box-shadow: 0 0 12px #ff0000 !important;
	-o-box-shadow: 0 0 12px #ff0000 !important;
	box-shadow: 0 0 12px #ff0000 !important;
}

input:required:valid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
	background-position: right top;
	background-repeat: no-repeat;
}

label.error {
	display: none !important;
}

.detailMovie {
	padding: 2%;
	text-align: left;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #212121;
	opacity: 0.8;
	box-shadow: -7px 5px 11px #000000;
	text-align: left;
	height: 100%;
}

.inline-title {
	display: inline;
	margin-right: 2%;
}

.midium-title {
	font-size: 16px;
	font-weight: bold;
}

.right-position {
	float: right;
}

.cast-bloc {
	display:inline-block;
	position:relative;
	height: 17%;
	width: 17%;
	vertical-align: top;
	padding-right: 2px;
}

/*
	REMOTE
*/

/* .remote{
	position: absolute;
	left: -320px;
	top: 10%;
	z-index: 99;
} */